<Component Thruk::Backend>
      <peer>
          name    = server
          type    = livestatus
          <options>
              peer    = 127.0.0.1:6557
          </options>
      </peer>
  </Component>
